@import "./../../responsive.scss";

//default values, correct for mobile
.container-search-bar {
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    margin-top: 310px;
    width: 300px;
    position: relative;

    display: flex;
    align-items: center;
  }

  img {
    width: 18px;
    position: absolute;
    right: 14px;
  }
  input {
    width: 100%;
    padding: 10px;
    outline: none;
    border-radius: 40px;
    border: solid 1px;
  }
}

//tablet screen dimension
@include tablet {
  .container-search-bar {
    div {
      margin-top: 290px;
      width: 70%;
    }

    img {
      width: 30px;
    }
    input {
      padding: 20px;

      &::placeholder {
        font-size: 25px;
      }
    }
  }
}

//desktop screen dimension
@include desktop {
  .container-search-bar {
    div {
      margin-top: 320px;
      width: 70%;
    }

    img {
      width: 30px;
    }
    input {
      padding: 20px;

      &::placeholder {
        font-size: 25px;
      }
    }
  }
}
