@import "./../../../../responsive.scss";

//default values, correct for mobile
.container-position {
  margin-top: 35px;
  flex: 1;

  .icon-position {
    display: flex;
    justify-content: center;
  }

  p {
    padding: 0;
    margin: 0;
  }
}

//tablet screen dimension
@include tablet {
  .container-position {
    margin-top: 60px;

    p {
      font-size: 25px;
    }
  }
}

//desktop screen dimension
@include desktop {
  .desktop-icons-position {
    display: flex;
    flex-direction: row;
  }
}
