@import "./../../responsive.scss";

//default values, correct for mobile
h1 {
  margin-top: 30px;
  font-size: 45px;
  text-align: center;
}

//tablet screen dimension
@include tablet {
  h1 {
    font-size: 80px;
  }
}

//desktop screen dimension
@include desktop {
  h1 {
    margin: 0;
    font-size: 90px;
  }
}
