//default values, correct for mobile
.container-search-bar {
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    margin-top: 170px;
    width: 300px;
    position: relative;

    display: flex;
    align-items: center;
  }

  img {
    width: 18px;
    position: absolute;
    right: 0;
  }
  input {
    width: 100%;
  }
}
