@import "./../../../responsive.scss";

.socialbutton-position {
  display: flex;
  justify-content: space-between;
}

//default values, correct for mobile
.socialbutton-dimension {
  width: 40px;
}

//tablet screen dimension
@include tablet {
  .socialbutton-dimension {
    width: 70px;
  }
}
