@import "./../../../responsive.scss";

.socialbutton-position {
  display: flex;
  justify-content: space-between;
}

//default values, correct for mobile
.socialbutton-dimension {
  width: 35px;
}

@include tablet {
  .socialbutton-dimension {
    width: 6vh;
  }
}
