@import "./../../responsive.scss";

.socialbutton-position {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
}

//default values, correct for mobile
.socialbutton-dimension {
  width: 40px;
}

//tablet screen dimension
@include tablet {
  .socialbutton-dimension {
    width: 70px;
  }
}

//desktop screen dimension
@include desktop {
  .socialbutton-dimension {
    width: 50px;
    padding: 10px;
  }
}
