@import "./../responsive.scss";

* {
  margin: 0;
}

.flex-weather-details-items {
  display: flex;
  flex-wrap: wrap;
}

.submit-button-position {
  width: 100%;
  margin-top: 70px;

  display: flex;
  justify-content: center;
}

.cta-return-homepage {
  width: 50%;
  margin-top: 35px;

  display: flex;
  justify-content: center;
}

//default values, correct for mobile
body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(#cedbfd, #f8d2d2);
}

button {
  width: 60%;
  padding: 0 20px;
  height: 40px;
  border-radius: 30px;
  border: none;
  outline: none;
}

//tablet screen dimension
@include tablet {
  button {
    margin-top: 30px;
    width: 65%;
    padding: 0 20px;
    height: 70px;
    font-size: 25px;
    border-radius: 40px;
  }
}

//desktop screen dimension
@include desktop {
  .weather-details-desktop-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;

    .flex-weather-details-items {
      flex-direction: column;
    }
  }

  button {
    width: 100%;
    padding: 0 20px;
    height: 70px;
    font-size: 25px;
    border-radius: 40px;
  }

  .cta-return-homepage {
    margin-top: 70px;
  }

  .submit-button-position {
    margin-top: 30px;
    width: 20%;
  }
}
