@import "./../responsive.scss";

/*body style*/
.flex-icons {
  display: flex;
  flex-wrap: wrap;
}

.submit-button-position {
  width: 100%;
  margin-top: 70px;

  display: flex;
  justify-content: center;
}

.cta-return-homepage {
  width: 100%;
  margin-top: 35px;

  display: flex;
  justify-content: center;
}

//default values, correct for mobile
button {
  width: 60%;
  padding: 0 20px;
  height: 40px;
  border-radius: 30px;
  border: none;
  outline: none;
}

//tablet screen dimension
@include tablet {
  button {
    margin-top: 30px;
    width: 65%;
    padding: 0 20px;
    height: 70px;
    font-size: 25px;
    border-radius: 40px;
  }
}

//desktop screen dimension
@include desktop {
  button {
    width: 20%;
    padding: 0 20px;
    height: 70px;
    font-size: 25px;
    border-radius: 40px;
  }

  .submit-button-position {
    margin-top: 30px;
  }
}
