/*body style*/
.flex-icons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.submit-button-position {
  width: 25vh;
  margin-top: 20vh;

  display: flex;
  justify-content: center;
}

.cta-return-homepage {
  width: 100%;
  margin-top: 4vh;

  display: flex;
  justify-content: center;
}

//default values, correct for mobile
button {
  padding: 0 20px;
  height: 6vh;
  border-radius: 17vh;
  border: none;
  outline: none;
}
