@media (max-width: 500px) {
  .submit-button-position {
    margin-top: 20vh;
    display: flex;
    justify-content: center;
  }
  button {
    width: 25vh;
    height: 6vh;
    border-radius: 17vh;
    border: none;
    outline: none;
  }
}
